<?php

namespace DomotronCloudUser\Bridge\Tracy;

?>

<style class="tracy-debug">
    #tracy-debug .nette-domotron-cloudUser-panel h2 {
        font-size: 14px;
        font-weight: bold;
    }

    #tracy-debug .nette-domotron-cloudUser-panel table {
        font: 9pt/1.5 Consolas, monospace;
    }
</style>

<?php use Nette\DateTime;
use Tracy\Dumper; ?>
<div class="nette-domotron-cloudUser-panel">
    <h1>Domotron user</h1>
    <div class="tracy-inner">
        <table>
            <tbody>
            <tr>
                <th>Initialized</th>
                <td style="text-align: center"><strong><?php echo $cloudUser->isInitialized() ? "TRUE" : "FALSE"; ?></strong></td>
            </tr>
            <?php if($cloudUser->isInitialized()): ?>
            <tr>
                <th>Logged in</th>
                <td style="text-align: center"><strong><?php echo $cloudUser->isLoggedIn() ? "TRUE" : "FALSE"; ?></strong></td>
            </tr>
            <?php endif; ?>
            </tbody>
        </table>

        <?php if($cloudUser->isInitialized()): ?>
            <h2>Data</h2>
            <?php Dumper::dump($cloudUser->getIdentity(), ['depth' => 6]); ?>

            <?php if($cloudUser->getAllPermissions()): ?>
                <h2>Loaded permissions</h2>
                <?php $now = new DateTime(); ?>
                <?php foreach($cloudUser->getAllPermissions()->getAll() as $permissionsKey => $permissions): ?>
                    <?php $cacheExpiresIn = $permissions['expire'] - $now->getTimestamp(); ?>
                    <table>
                        <tbody>
                        <tr>
                            <th>Identifier</th>
                            <td><strong><?php echo $permissionsKey; ?></strong></td>
                        </tr>
                        <tr>
                            <th>Cache expires in</th>
                            <td><strong><?php if ($cacheExpiresIn >= 0): ?><?php echo $cacheExpiresIn; ?> seconds<?php else: ?><span style="color: #f4425c">EXPIRED</span><?php endif; ?></strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <?php Dumper::dump($permissions['permissions'], ['depth' => 6]); ?>
                    <br>
                <?php endforeach; ?>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
